### Name : Anushka Kamath
### Github Username : anushkakamath
### USC email id : arkamath@usc.edu
### USC ID : 9418501008

In [1]:
import pandas as pd
import os
import re
from sklearn.utils import resample
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# 1. (a) 
Download the AReM data

# 1. (b)
Keep datasets 1 and 2 in folders bending1 and bending 2, as well as datasets 1, 2, and 3 in other folders as test data and other datasets as train data.

https://www.codegrepper.com/code-examples/python/iterate+over+folders+python

digits from str using regex :
https://stackoverflow.com/questions/4289331/how-to-extract-numbers-from-a-string-in-python
https://www.askpython.com/python/string/extract-digits-from-python-string

In [2]:
directory = "../data/AReM/"
train_files = []
test_files = []

for root, subdirectories, files in os.walk(directory):

    if len(subdirectories) == 0:
        #print(root)
        folder_name = os.path.split(root)[1]
        #print("sub ", subdirectories)
        for file in files:
            file_num = re.findall("\d+", file)[0]
            file_path = os.path.join(root, file)
            if folder_name in ["bending1", "bending2"]:
                if int(file_num) < 3:
                    test_files.append(file_path)
                else:
                    train_files.append(file_path)
            else:
                if int(file_num) < 4:
                    test_files.append(file_path)
                else:
                    train_files.append(file_path)

In [3]:
print("We have : ", len(train_files), "train files \n")
print("Train data files - ", train_files)

We have :  69 train files

Train data files -  ['../data/AReM/bending1/dataset7.csv', '../data/AReM/bending1/dataset6.csv', '../data/AReM/bending1/dataset4.csv', '../data/AReM/bending1/dataset5.csv', '../data/AReM/bending1/dataset3.csv', '../data/AReM/walking/dataset7.csv', '../data/AReM/walking/dataset6.csv', '../data/AReM/walking/dataset4.csv', '../data/AReM/walking/dataset5.csv', '../data/AReM/walking/dataset10.csv', '../data/AReM/walking/dataset11.csv', '../data/AReM/walking/dataset13.csv', '../data/AReM/walking/dataset12.csv', '../data/AReM/walking/dataset15.csv', '../data/AReM/walking/dataset14.csv', '../data/AReM/walking/dataset8.csv', '../data/AReM/walking/dataset9.csv', '../data/AReM/bending2/dataset6.csv', '../data/AReM/bending2/dataset4.csv', '../data/AReM/bending2/dataset5.csv', '../data/AReM/bending2/dataset3.csv', '../data/AReM/standing/dataset7.csv', '../data/AReM/standing/dataset6.csv', '../data/AReM/standing/dataset4.csv', '../data/AReM/standing/dataset5.csv', '../data/AReM/standing/dataset10.csv', '../data/AReM/standing/dataset11.csv', '../data/AReM/standing/dataset13.csv', '../data/AReM/standing/dataset12.csv', '../data/AReM/standing/dataset15.csv', '../data/AReM/standing/dataset14.csv', '../data/AReM/standing/dataset8.csv', '../data/AReM/standing/dataset9.csv', '../data/AReM/sitting/dataset7.csv', '../data/AReM/sitting/dataset6.csv', '../data/AReM/sitting/dataset4.csv', '../data/AReM/sitting/dataset5.csv', '../data/AReM/sitting/dataset10.csv', '../data/AReM/sitting/dataset11.csv', '../data/AReM/sitting/dataset13.csv', '../data/AReM/sitting/dataset12.csv', '../data/AReM/sitting/dataset15.csv', '../data/AReM/sitting/dataset14.csv', '../data/AReM/sitting/dataset8.csv', '../data/AReM/sitting/dataset9.csv', '../data/AReM/lying/dataset7.csv', '../data/AReM/lying/dataset6.csv', '../data/AReM/lying/dataset4.csv', '../data/AReM/lying/dataset5.csv', '../data/AReM/lying/dataset10.csv', '../data/AReM/lying/dataset11.csv', '../data/AReM/lying/dataset13.csv', '../data/AReM/lying/dataset12.csv', '../data/AReM/lying/dataset15.csv', '../data/AReM/lying/dataset14.csv', '../data/AReM/lying/dataset8.csv', '../data/AReM/lying/dataset9.csv', '../data/AReM/cycling/dataset7.csv', '../data/AReM/cycling/dataset6.csv', '../data/AReM/cycling/dataset4.csv', '../data/AReM/cycling/dataset5.csv', '../data/AReM/cycling/dataset10.csv', '../data/AReM/cycling/dataset11.csv', '../data/AReM/cycling/dataset13.csv', '../data/AReM/cycling/dataset12.csv', '../data/AReM/cycling/dataset15.csv', '../data/AReM/cycling/dataset14.csv', '../data/AReM/cycling/dataset8.csv', '../data/AReM/cycling/dataset9.csv']

In [4]:
print("We have : ", len(test_files), "test files \n")
print("Test data files - ", test_files)

We have :  19 test files

Test data files -  ['../data/AReM/bending1/dataset1.csv', '../data/AReM/bending1/dataset2.csv', '../data/AReM/walking/dataset1.csv', '../data/AReM/walking/dataset2.csv', '../data/AReM/walking/dataset3.csv', '../data/AReM/bending2/dataset1.csv', '../data/AReM/bending2/dataset2.csv', '../data/AReM/standing/dataset1.csv', '../data/AReM/standing/dataset2.csv', '../data/AReM/standing/dataset3.csv', '../data/AReM/sitting/dataset1.csv', '../data/AReM/sitting/dataset2.csv', '../data/AReM/sitting/dataset3.csv', '../data/AReM/lying/dataset1.csv', '../data/AReM/lying/dataset2.csv', '../data/AReM/lying/dataset3.csv', '../data/AReM/cycling/dataset1.csv', '../data/AReM/cycling/dataset2.csv', '../data/AReM/cycling/dataset3.csv']

# 1. (c) Feature Extraction
Classification of time series usually needs extracting features from them. In this problem, we focus on time-domain features.

i. Research what types of time-domain features are usually used in time series classification and list them (examples are minimum, maximum, mean, etc).

ANS : Time series data, also referred to as time-stamped data, is a sequence of data points indexed in time order. Other than the fundamental min, max, mean, standard deviation, first quartile, and third quartile properties. Distribution, Correlation structure, Entropy, Scaling and Stationarity properties are typically utilized in time series categorization.

ii. Extract the time-domain features minimum, maximum, mean, median, stan- dard deviation, first quartile, and third quartile for all of the 6 time series in each instance. You are free to normalize/standardize features or use them directly.

https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

https://stackoverflow.com/questions/18039057/python-pandas-error-tokenizing-data

https://www.geeksforgeeks.org/how-to-create-an-empty-dataframe-and-append-rows-columns-to-it-in-pandas/

https://www.geeksforgeeks.org/python-pandas-dataframe-append/

https://stackoverflow.com/questions/19851005/rename-pandas-dataframe-index
https://note.nkmk.me/en/python-pandas-dataframe-rename/

https://thispointer.com/how-to-drop-index-column-of-a-pandas-dataframe/

Filter warnings :
https://stackoverflow.com/questions/14463277/how-to-disable-python-warnings
https://docs.python.org/3/library/warnings.html

reorder columns :
https://datagy.io/reorder-pandas-columns/

-- minor changes in the below dataset in excel to remove extra comma 

AReM/cycling/dataset9.csv -> Error tokenizing data. C error: Expected 7 fields in line 485, saw 8

AReM/cycling/dataset14.csv -> Error tokenizing data. C error: Expected 7 fields in line 485, saw 8

In [5]:
time1 = pd.DataFrame()
time2 = pd.DataFrame()
time3 = pd.DataFrame()
time4 = pd.DataFrame()
time5 = pd.DataFrame()
time6 = pd.DataFrame()

for file in (train_files + test_files):
    #df = pd.read_csv(file, skiprows = 4, on_bad_lines='skip')
    #removed bad lines by removing excess commas in excel
    
    df = pd.read_csv(file, skiprows = 4)
    summary = df.describe()
    
    print(file)
    avg12 = df.describe()['avg_rss12']
    avg12 = avg12.rename(index = {'min': 'min1', 'max': 'max1', 'mean': 'mean1', '50%': 'median1', 'std': 'std1', '25%': '1st quart1', '75%': '3rd quart1'})
    avg12 = avg12.drop(index = ['count'])
    avg12 = avg12[['min1', 'max1', 'mean1',  'median1', 'std1', '1st quart1', '3rd quart1']]
    time1 = time1.append(avg12, ignore_index = True)
    
    
    var12 = df.describe()['var_rss12']
    var12 = var12.rename(index = {'min': 'min2', 'max': 'max2', 'mean': 'mean2', '50%': 'median2', 'std': 'std2', '25%': '1st quart2', '75%': '3rd quart2'})
    var12 = var12.drop(index = ['count'])
    var12 = var12[['min2', 'max2', 'mean2',  'median2', 'std2', '1st quart2', '3rd quart2']]
    time2 = time2.append(var12, ignore_index = True)
    
    
    avg13 = df.describe()['avg_rss13']
    avg13 = avg13.rename(index = {'min': 'min3', 'max': 'max3', 'mean': 'mean3', '50%': 'median3', 'std': 'std3', '25%': '1st quart3', '75%': '3rd quart3'})
    avg13 = avg13.drop(index = ['count'])
    avg13 = avg13[['min3', 'max3', 'mean3',  'median3', 'std3', '1st quart3', '3rd quart3']]
    time3 = time3.append(avg13, ignore_index = True)
    
    
    var13 = df.describe()['var_rss13']
    var13 = var13.rename(index = {'min': 'min4', 'max': 'max4', 'mean': 'mean4', '50%': 'median4', 'std': 'std4', '25%': '1st quart4', '75%': '3rd quart4'})
    var13 = var13.drop(index = ['count'])
    var13 = var13[['min4', 'max4', 'mean4',  'median4', 'std4', '1st quart4', '3rd quart4']]
    time4 = time4.append(var13, ignore_index = True)
    
    
    avg23 = df.describe()['avg_rss23']
    avg23 = avg23.rename(index = {'min': 'min5', 'max': 'max5', 'mean': 'mean5', '50%': 'median5', 'std': 'std5', '25%': '1st quart5', '75%': '3rd quart5'})
    avg23 = avg23.drop(index = ['count'])
    avg23 = avg23[['min5', 'max5', 'mean5',  'median5', 'std5', '1st quart5', '3rd quart5']]
    time5 = time5.append(avg23, ignore_index = True)
    
    
    var23 = df.describe()['var_rss23']
    var23 = var23.rename(index = {'min': 'min6', 'max': 'max6', 'mean': 'mean6', '50%': 'median6', 'std': 'std6', '25%': '1st quart6', '75%': '3rd quart6'})
    var23 = var23.drop(index = ['count'])
    var23 = var23[['min6', 'max6', 'mean6',  'median6', 'std6', '1st quart6', '3rd quart6']]
    time6 = time6.append(var23, ignore_index = True)

../data/AReM/bending1/dataset7.csv
../data/AReM/bending1/dataset6.csv
../data/AReM/bending1/dataset4.csv
../data/AReM/bending1/dataset5.csv
../data/AReM/bending1/dataset3.csv
../data/AReM/walking/dataset7.csv
../data/AReM/walking/dataset6.csv
../data/AReM/walking/dataset4.csv
../data/AReM/walking/dataset5.csv
../data/AReM/walking/dataset10.csv
../data/AReM/walking/dataset11.csv
../data/AReM/walking/dataset13.csv
../data/AReM/walking/dataset12.csv
../data/AReM/walking/dataset15.csv
../data/AReM/walking/dataset14.csv
../data/AReM/walking/dataset8.csv
../data/AReM/walking/dataset9.csv
../data/AReM/bending2/dataset6.csv
../data/AReM/bending2/dataset4.csv
../data/AReM/bending2/dataset5.csv
../data/AReM/bending2/dataset3.csv
../data/AReM/standing/dataset7.csv
../data/AReM/standing/dataset6.csv
../data/AReM/standing/dataset4.csv
../data/AReM/standing/dataset5.csv
../data/AReM/standing/dataset10.csv
../data/AReM/standing/dataset11.csv
../data/AReM/standing/dataset13.csv
../data/AReM/standing/dataset12.csv
../data/AReM/standing/dataset15.csv
../data/AReM/standing/dataset14.csv
../data/AReM/standing/dataset8.csv
../data/AReM/standing/dataset9.csv
../data/AReM/sitting/dataset7.csv
../data/AReM/sitting/dataset6.csv
../data/AReM/sitting/dataset4.csv
../data/AReM/sitting/dataset5.csv
../data/AReM/sitting/dataset10.csv
../data/AReM/sitting/dataset11.csv
../data/AReM/sitting/dataset13.csv
../data/AReM/sitting/dataset12.csv
../data/AReM/sitting/dataset15.csv
../data/AReM/sitting/dataset14.csv
../data/AReM/sitting/dataset8.csv
../data/AReM/sitting/dataset9.csv
../data/AReM/lying/dataset7.csv
../data/AReM/lying/dataset6.csv
../data/AReM/lying/dataset4.csv
../data/AReM/lying/dataset5.csv
../data/AReM/lying/dataset10.csv
../data/AReM/lying/dataset11.csv
../data/AReM/lying/dataset13.csv
../data/AReM/lying/dataset12.csv
../data/AReM/lying/dataset15.csv
../data/AReM/lying/dataset14.csv
../data/AReM/lying/dataset8.csv
../data/AReM/lying/dataset9.csv
../data/AReM/cycling/dataset7.csv
../data/AReM/cycling/dataset6.csv
../data/AReM/cycling/dataset4.csv
../data/AReM/cycling/dataset5.csv
../data/AReM/cycling/dataset10.csv
../data/AReM/cycling/dataset11.csv
../data/AReM/cycling/dataset13.csv
../data/AReM/cycling/dataset12.csv
../data/AReM/cycling/dataset15.csv
../data/AReM/cycling/dataset14.csv
../data/AReM/cycling/dataset8.csv
../data/AReM/cycling/dataset9.csv
../data/AReM/bending1/dataset1.csv
../data/AReM/bending1/dataset2.csv
../data/AReM/walking/dataset1.csv
../data/AReM/walking/dataset2.csv
../data/AReM/walking/dataset3.csv
../data/AReM/bending2/dataset1.csv
../data/AReM/bending2/dataset2.csv
../data/AReM/standing/dataset1.csv
../data/AReM/standing/dataset2.csv
../data/AReM/standing/dataset3.csv
../data/AReM/sitting/dataset1.csv
../data/AReM/sitting/dataset2.csv
../data/AReM/sitting/dataset3.csv
../data/AReM/lying/dataset1.csv
../data/AReM/lying/dataset2.csv
../data/AReM/lying/dataset3.csv
../data/AReM/cycling/dataset1.csv
../data/AReM/cycling/dataset2.csv
../data/AReM/cycling/dataset3.csv

In [ ]:
df[df['column name'].isnull()]

In [9]:
print("time-domain features for avg rss12 is :\n" , time1, "\n")
print("time-domain features for var rss12 is :\n" , time2, "\n")
print("time-domain features for avg rss13 is :\n" , time3, "\n")
print("time-domain features for var rss13 is :\n" , time4, "\n")
print("time-domain features for avg rss13 is :\n" , time5, "\n")
print("time-domain features for ar rss23 is :\n" , time6, "\n")

time-domain features for avg rss12 is :
      min1   max1      mean1  median1      std1  1st quart1  3rd quart1
0   36.25  48.00  43.969125   44.500  1.618364       43.31     44.6700
1   37.00  48.00  43.454958   43.250  1.386098       42.50     45.0000
2   33.00  47.75  42.179813   43.500  3.670666       39.15     45.0000
3   33.00  45.75  41.678063   41.750  2.243490       41.33     42.7500
4   35.00  47.40  43.954500   44.330  1.558835       43.00     45.0000
..    ...    ...        ...      ...       ...         ...         ...
83  24.75  48.33  44.182937   48.000  7.495615       48.00     48.0000
84  48.00  48.25  48.004167   48.000  0.032038       48.00     48.0000
85  24.25  45.00  37.177042   36.250  3.581301       34.50     40.2500
86  28.75  44.75  37.561188   36.875  3.226507       35.25     40.2500
87  22.00  44.67  37.058708   36.000  3.710180       34.50     40.0625

[88 rows x 7 columns]

time-domain features for var rss12 is :
     min2   max2     mean2  median2      std2  1st quart2  3rd quart2
0    0.0   1.50  0.413125     0.47  0.263111        0.43        0.50
1    0.0   1.58  0.378083     0.47  0.315566        0.00        0.50
2    0.0   3.00  0.696042     0.50  0.630860        0.00        1.12
3    0.0   2.83  0.535979     0.50  0.405469        0.43        0.71
4    0.0   1.70  0.426250     0.47  0.338690        0.00        0.50
..   ...    ...       ...      ...       ...         ...         ...
83   0.0   3.11  0.101875     0.00  0.346756        0.00        0.00
84   0.0   0.43  0.007167     0.00  0.055106        0.00        0.00
85   0.0   8.58  2.374208     1.92  1.601799        1.30        3.13
86   0.0   9.91  2.080688     1.70  1.639258        1.12        2.87
87   0.0  14.17  2.438146     1.92  1.996887        1.25        3.35

[88 rows x 7 columns]

time-domain features for avg rss13 is :
     min3   max3      mean3  median3      std3  1st quart3  3rd quart3
0   1.50  26.33  15.868021   16.250  3.742420       14.25     18.0000
1   5.75  27.00  15.793333   15.000  3.847638       13.00     18.2700
2   8.50  30.00  22.183625   23.000  3.810469       20.50     24.3725
3   3.00  28.25  19.006562   19.125  4.087107       16.50     22.0625
4   6.50  29.75  22.122354   23.000  3.030943       19.75     24.0000
..   ...    ...        ...      ...       ...         ...         ...
83  1.00  16.50   6.679958    6.250  1.936492        5.67      7.5000
84  0.00  13.00   4.900563    5.500  2.566429        3.00      6.2500
85  5.50  26.75  16.531083   16.670  3.430906       14.25     19.0000
86  6.50  24.67  16.567042   17.000  3.691401       14.00     19.5000
87  6.33  24.00  16.388312   16.500  3.537950       13.75     19.0000

[88 rows x 7 columns]

time-domain features for var rss13 is :
     min4   max4     mean4  median4      std4  1st quart4  3rd quart4
0    0.0   5.17  0.666354     0.47  0.788985        0.00      0.9400
1    0.0  10.03  0.849354     0.50  0.995761        0.43      1.1200
2    0.0   5.15  0.989917     0.83  0.953730        0.43      1.3000
3    0.0   6.42  0.841875     0.50  0.928801        0.43      1.1200
4    0.0   4.44  0.497313     0.43  0.550657        0.00      0.8300
..   ...    ...       ...      ...       ...         ...         ...
83   0.0   5.91  0.584104     0.43  0.749945        0.00      0.7100
84   0.0   2.86  0.397313     0.43  0.447127        0.00      0.5000
85   0.0   8.05  2.910604     2.62  1.600137        1.64      3.9175
86   0.0   8.32  3.033875     2.95  1.625415        1.79      4.0300
87   0.0   9.74  2.980688     2.86  1.612059        1.79      4.0000

[88 rows x 7 columns]

time-domain features for avg rss13 is :
      min5   max5      mean5  median5      std5  1st quart5  3rd quart5
0   11.33  30.75  22.103750   21.670  3.318301     20.5000     23.7500
1    8.00  33.50  23.034792   23.500  2.488862     22.2500     24.0000
2   20.00  38.67  33.493917   35.000  3.849448     30.4575     36.3300
3   23.67  37.50  29.857083   30.000  2.411026     28.4575     31.2500
4   29.00  38.50  35.588458   36.000  1.999604     35.3625     36.5000
..    ...    ...        ...      ...       ...         ...         ...
83   0.00  12.75   4.376292    3.330  3.274539      2.0000      5.5425
84   0.00  12.00   7.624896    9.000  3.268502      4.6700     10.0000
85   7.00  25.50  19.607250   20.000  2.890347     17.9500     21.7500
86  10.50  24.33  19.518896   20.000  2.727377     18.0000     21.5000
87   7.50  24.25  18.125958   18.875  3.537144     16.0000     21.0000

[88 rows x 7 columns]

time-domain features for ar rss23 is :
     min6  max6     mean6  median6      std6  1st quart6  3rd quart6
0    0.0  2.96  0.555313     0.49  0.487826      0.0000        0.83
1    0.0  5.26  0.679646     0.50  0.622534      0.4300        0.87
2    0.0  2.18  0.613521     0.50  0.524317      0.0000        1.00
3    0.0  1.79  0.383292     0.43  0.389164      0.0000        0.50
4    0.0  1.79  0.493292     0.43  0.513506      0.0000        0.94
..   ...   ...       ...      ...       ...         ...         ...
83   0.0  3.91  0.692771     0.50  0.675781      0.3225        0.94
84   0.0  2.50  0.641229     0.50  0.388372      0.4600        0.83
85   0.0  9.34  2.921729     2.50  1.852600      1.5000        3.90
86   0.0  9.62  2.765896     2.45  1.769203      1.4100        3.77
87   0.0  8.55  2.983750     2.57  1.815730      1.5000        4.15

[88 rows x 7 columns]

https://stackoverflow.com/questions/28773683/combine-two-pandas-dataframes-with-the-same-index

https://towardsdatascience.com/pandas-concat-tricks-you-should-know-to-speed-up-your-data-analysis-cd3d4fdfe6dd#:~:text=Dealing%20with%20index%20and%20axis,-Suppose%20we%20have&text=If%20you%20want%20the%20concatenation,%2C%20%E2%80%A6%2C%20n%2D1%20.&text=To%20concatenate%20DataFrames%20horizontally%20along,set%20the%20argument%20axis%3D1%20.

https://www.geeksforgeeks.org/python-pandas-dataframe-append/

https://datagy.io/pandas-drop-index-column/#:~:text=The%20most%20straightforward%20way%20to,a%20column%20in%20the%20dataframe.

In [10]:
new_df.loc[18]

min1         NaN
max1         NaN
mean1        NaN
median1      NaN
std1         NaN
1st quart1   NaN
3rd quart1   NaN
min2         NaN
max2         NaN
mean2        NaN
median2      NaN
std2         NaN
1st quart2   NaN
3rd quart2   NaN
min3         NaN
max3         NaN
mean3        NaN
median3      NaN
std3         NaN
1st quart3   NaN
3rd quart3   NaN
min4         NaN
max4         NaN
mean4        NaN
median4      NaN
std4         NaN
1st quart4   NaN
3rd quart4   NaN
min5         NaN
max5         NaN
mean5        NaN
median5      NaN
std5         NaN
1st quart5   NaN
3rd quart5   NaN
min6         NaN
max6         NaN
mean6        NaN
median6      NaN
std6         NaN
1st quart6   NaN
3rd quart6   NaN
Name: 18, dtype: float64

In [11]:
new_df = pd.concat([time1, time2, time3, time4, time5, time6], axis=1)
print("The new combined dataset is : \n")
new_df

The new combined dataset is :

,min1,max1,mean1,median1,std1,1st quart1,3rd quart1,min2,max2,mean2,...,std5,1st quart5,3rd quart5,min6,max6,mean6,median6,std6,1st quart6,3rd quart6
0,36.25,48.00,43.969125,44.500,1.618364,43.31,44.6700,0.0,1.50,0.413125,...,3.318301,20.5000,23.7500,0.0,2.96,0.555313,0.49,0.487826,0.0000,0.83
1,37.00,48.00,43.454958,43.250,1.386098,42.50,45.0000,0.0,1.58,0.378083,...,2.488862,22.2500,24.0000,0.0,5.26,0.679646,0.50,0.622534,0.4300,0.87
2,33.00,47.75,42.179813,43.500,3.670666,39.15,45.0000,0.0,3.00,0.696042,...,3.849448,30.4575,36.3300,0.0,2.18,0.613521,0.50,0.524317,0.0000,1.00
3,33.00,45.75,41.678063,41.750,2.243490,41.33,42.7500,0.0,2.83,0.535979,...,2.411026,28.4575,31.2500,0.0,1.79,0.383292,0.43,0.389164,0.0000,0.50
4,35.00,47.40,43.954500,44.330,1.558835,43.00,45.0000,0.0,1.70,0.426250,...,1.999604,35.3625,36.5000,0.0,1.79,0.493292,0.43,0.513506,0.0000,0.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,24.75,48.33,44.182937,48.000,7.495615,48.00,48.0000,0.0,3.11,0.101875,...,3.274539,2.0000,5.5425,0.0,3.91,0.692771,0.50,0.675781,0.3225,0.94
84,48.00,48.25,48.004167,48.000,0.032038,48.00,48.0000,0.0,0.43,0.007167,...,3.268502,4.6700,10.0000,0.0,2.50,0.641229,0.50,0.388372,0.4600,0.83
85,24.25,45.00,37.177042,36.250,3.581301,34.50,40.2500,0.0,8.58,2.374208,...,2.890347,17.9500,21.7500,0.0,9.34,2.921729,2.50,1.852600,1.5000,3.90
86,28.75,44.75,37.561188,36.875,3.226507,35.25,40.2500,0.0,9.91,2.080688,...,2.727377,18.0000,21.5000,0.0,9.62,2.765896,2.45,1.769203,1.4100,3.77
87,22.00,44.67,37.058708,36.000,3.710180,34.50,40.0625,0.0,14.17,2.438146,...,3.537144,16.0000,21.0000,0.0,8.55,2.983750,2.57,1.815730,1.5000,4.15

iii. Estimate the standard deviation of each of the time-domain features you extracted from the data. Then, use Python’s bootstrapped or any other method to build a 90% bootsrap confidence interval for the standard deviation of each feature.

https://notebook.community/tsarouch/python_minutes/core/Confidence_Prediction_Intervals

https://www.statology.org/pandas-standard-deviation/

In [9]:
#print(new_df.std())

In [10]:
df1 = [time1, time2, time3, time4, time5, time6]

print('90% Bootstrap Confidence Interval')
for feature in df1:
    conf = pd.DataFrame(columns = ['Confidence Interval'])
    
    for col in feature.columns:
        alpha = 0.9 
        std = []
        p = ( ( 1.0 - alpha ) / 2.0) * 100
        q = ( alpha + ( ( 1.0 - alpha ) / 2.0 ) ) * 100
        leng = len(feature)
        
        for i in range(1000):
            sample = (resample(feature[col], n_samples = leng, replace = True))
            std.append(np.std(sample)) 
            
        lower = np.percentile(std, p)
        upper = np.percentile(std, q)
        conf.loc[col] = str([lower, upper])
        
    print(conf)

90% Bootstrap Confidence Interval
                                 Confidence Interval
min1         [8.304781657845911, 10.696117094974904]
max1        [3.0826492741764855, 5.0809736088805755]
mean1         [4.636195598908917, 5.802788810094723]
median1       [4.7287860551361725, 5.95455355666042]
std1        [1.5548007919051805, 1.9432509788578503]
1st quart1    [5.519242376123826, 6.596603587425196]
3rd quart1    [4.156338263194703, 5.699967899579457]
                                 Confidence Interval
min2                                      [0.0, 0.0]
max2         [4.590488161973379, 5.3741807294578505]
mean2       [1.3869661541475387, 1.7040584524348994]
median2       [1.241255352353696, 1.537121623059281]
std2        [0.7966382076782204, 0.9407528246304985]
1st quart2    [0.828017832037779, 1.032217106563464]
3rd quart2  [1.8832933845305897, 2.2795105096025146]
                                 Confidence Interval
min3        [2.7368861701579754, 3.0864468790378914]
max3         [4.1108265716166725, 5.385915067178367]
mean3         [3.405493446682145, 4.478353618108552]
median3       [3.362163060339306, 4.491820020193433]
std3        [0.7554568148907403, 1.1362955501621947]
1st quart3   [3.5631390033591623, 4.681396482292874]
3rd quart3    [3.4891417765662096, 4.67580366492345]
                                 Confidence Interval
min4                                      [0.0, 0.0]
max4        [1.9564028482586626, 2.3390177094472206]
mean4         [1.067768057301467, 1.211270611404374]
median4     [1.0565667802432437, 1.1992414744627802]
std4        [0.4207063054232279, 0.4832402013335924]
1st quart4  [0.7686404950081899, 0.8854134065209868]
3rd quart4   [1.423378640351169, 1.6193501903838947]
                                 Confidence Interval
min5          [4.359389613378811, 7.524684263802191]
max5          [4.768452721212532, 6.547917452975302]
mean5          [4.356273928103458, 6.71884297234581]
median5      [4.5185409596123876, 6.903583065920051]
std5        [0.8004898072862686, 1.2001305444202395]
1st quart5    [4.690204109521126, 7.174990115955169]
3rd quart5    [4.392109552119737, 6.632984814747136]
                                 Confidence Interval
min6                      [0.0, 0.07802896990623477]
max6         [2.247898919978654, 2.7476194792391144]
mean6         [1.062826649037147, 1.208184983003948]
median6     [0.9912574211501066, 1.1476779337459184]
std6        [0.4784749333568823, 0.5421792423489139]
1st quart6   [0.684007589963059, 0.8065746224210245]
3rd quart6  [1.3957066766618336, 1.5935950008695166]

iv. Use your judgement to select the three most important time-domain features (one option may be min, mean, and max).

max, mean and standard deviation are the most important time-domain features, in my opinion.

# 2. ISLR 3.7.4

I collect a set of data (n = 100 observations) containing a single predictor and a quantitative response. I then fit a linear regression model to the data, as well as a separate cubic regression, i.e. Y = β0 +β1X +β2X2 +β3X3 +ε.

SOLUTIONS : 

(a) Given the cubic regression gives a larger flexibility than linear regression model, it will be better fit to the data. With increase in model flexibilty, the training mean square error will decreases. Hence, the training RSS for cubic regression would be smaller than linear regression. 

(b) Having additional predictors / more flexibilty in the model will have higher chance of overfitting. Thus testing RSS for cubic regression will be higher. Linear regression, being a less flexible model, always has less variance than cubic regression. As RSS depends on variance, linear regression will produce a lower test RSS than cubic regression since the variance of is constant and the linear model has lower bias and variance than the cubic model.

(c) The cubic regression's training RSS will be lower than that of the linear regression. Again, this is because cubic regression is more flexible and will be better fit to data, and flexibility results in lower training mean squared error and, hence, lower training RSS.

(d) Given that the real relationship is not linear, cubic regression will probably have less bias than linear regression. But we don't know how far off from linear it is, so we don't know the bias difference between the models. The accuracy of a cubic regression model is also more dependent on the training data since, cubic regression has a bigger variance than linear regression. We have no knowledge of the training data, therefore we are unsure of how accurately it captures the relationship between the predictor and the response. Therefore, given information is insufficient for this part as you cannot determine the the true relationship of X and Y. We are unsure about their linearity and the regression that the relationship is closest to.